.arrivals {
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}
.product-grid1 {
  display: flex;
  gap: 180px;
  justify-content: center;
  padding-top: 30px;
}
section {
  width: 1800px;
}
.cloths image {
  border: none;
  border-radius: 30px;
}
.cloths {
  border: none;
}
.product-name {
  padding-top: 20px;
  font-weight: 700;
  font-size: 15px;
}
.rating {
  color: gold;
}
.rate del {
  color: gray;
}
.rate ins {
  color: red;
  text-decoration: none;
  background-color: rgb(255, 224, 230);
  font-size: 10px;
  padding: 5px;
  border-radius: 20px;
}
.ViewAllButton1 {
  padding: 15px 60px 15px 60px;
  background-color: white;
  border: 1px solid black;
  font-size: 15px;
  border-radius: 25px;
}
.ViewBtn1 {
  display: flex;
  justify-content: center !important;
  margin-top: 20px;
}
.ViewAllButton1:hover {
  background-color: black;
  color: white;
}
