.OurCustomer {
  float: 40px;
  font-weight: 900;
  font-size: 30px;
}
.TitleText {
  float: left;
  display: flex;
  flex-wrap: wrap;
}
#left {
  border: 1px solid black;
  font-size: 20px;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  background-color: white;
}
#right {
  border: 1px solid black;
  font-size: 20px;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  background-color: white;
}
.CustomerReview {
  display: flex;
  margin-left: 100px; /**/
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1700px;
}
.custome {
  margin-left: 100px; /**/
  display: inline-block;
  box-shadow: #c97dba;
  background-color: white;
  width: 20%;
  height: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 13px;
  flex: wrap;
  gap: 10%;
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  flex-shrink: 0;
  overflow-x: auto; /* enables horizontal scroll */
  scroll-behavior: smooth;
  overflow: hidden;
}

.custome {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.cutome::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#product-grid {
  height: max-content;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  gap: 16px;
  /* margin-left: 100px; */
  width: max-content;
  overflow: hidden;
  margin-top: 20px;
}
.ratin {
  color: gold;
  text-align: left;
  font-size: 30px;
}
#pargraph {
  color: #999799;
}
.sarah {
  text-align: left;
  font-weight: 750;
  font-size: 20px;
}
