.MainText {
  font-weight: 800;
  font-size: 50px;
  padding-top: 30px;
}
#DesText {
  padding-top: 15px;
  font-size: 20px;
  color: #696468;
  line-height: 25px;
  font-weight: 500;
}
.ShopNow {
  padding: 15px 60px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 60px;
  font-size: 20px;
}
.ShopNowBtn {
  padding-top: 20px;
}
.stat-container {
  display: flex;
  gap: 30px;
  padding-top: 30px;
  line-height: 25px;
}
#Counting {
  font-size: 25px;
  font-weight: 600;
}
#Counting-Des {
  color: #696468;
  font-size: 20px;
  line-height: 30px;
}
.Inter-Brands {
  border-right: 2px solid #d6cfd5;
  padding-right: 15px;
}
.High-Quality-Pro {
  border-right: 2px solid #d6cfd5;
  padding-right: 15px;
}
.ContentImage {
  float: right;
  height: fit-content;
  max-width: auto;
}
.MainContent {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  max-width: auto;

  /* padding-left: 30px; */
}
.MainContent1 {
  height: auto;
  width: auto;
}
.ShopNow:hover {
  transform: scale(1.2);
}
.Star1 {
  padding-bottom: 270px;
  height: 50px;
}

.Star2 {
  float: right;
  padding-top: 20px;
}
